div {
	color: blue;
}


div.green {
        color: green;
}

div.red {
	color: red;
}

div.brown {
	color: brown;
}

div.gray {
	color: gray;
}

div.blue {
	color: blue;
}

div.violet {
	color: violet;
}

div.aqua {
	color: aqua;
}
